REPLACING VOWELS WITH TEH LETTER G

In [7]:
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter.lower() in "aeiou":
            if letter.isupper():
                translation = translation + "G"
            else:
                translation = translation + "g"
        else:
            translation = translation + letter
    return translation
print(translate(input("enter the phrase")))

enter the phraseAbdur
Gbdgr

In [8]:
from math import *
print(round(3.95))

4

FINDING GREATEST NUMBER AMONG THREE NUMBERS

In [12]:
def max_num(num1,num2,num3):
    if num1>=num2 and num1>=num3:
        return num1
    elif num2>=num1 and num2>=num3:
        return num2
    else:
        return num3
print(max_num(2,5,7))

7

FINDING THE RESULT OF A EXPONENTIAL POWER

In [17]:
def raise_to_power(base_num,power):
    result=1
    for index in range(power):
        result = result*base_num
    return result
a=int(input("enter the base num : "))
b=int(input("enter the power : "))
print(raise_to_power(a,b))

enter the base num : 3
enter the power : 4
81

PATTERN PROGRAM 1

In [27]:
def pattern(n):
    for i in range(1,n):
        for j in range(1,i+1):
            print("*",end ="")
        print("\r")
a=int(input("enter the no of rows"))
pattern(a+1)

enter the no of rows4
*
**
***
****

PATTERN PROGRAM 2

In [28]:
def pattern(n):
    for i in range(1,n):
        for k in range(1,n-i):
            print(end =" ")
        for j in range(1,i+1):
            print("*",end ="")
        print("\r")
a=int(input("enter the no of rows"))
pattern(a+1)

enter the no of rows4
   *
  **
 ***
****

PATTERN PROGRAM 3

In [30]:
def pattern(n):
    for i in range(1,n):
        for k in range(1,n-i):
            print(end=" ")
        for j in range(1,i+1):
            print("*",end=" ")
        print("\r")
a=int(input("enter the no of rows"))
pattern(a+1)

enter the no of rows4
   *
  * *
 * * *
* * * *

PATTERN PROGRAM 4

In [31]:
def pattern(n):
    for i in range(1,n):
        for j in range(1,i+1):
            print(j,end=" ")
        print("\r")
a=int(input("enter the no of rows"))
pattern(a+1)

enter the no of rows4
1
1 2
1 2 3
1 2 3 4

PATTERN PROGRAM 5

In [32]:
def pattern(n):
    num=1;
    for i in range(1,n):
        for j in range(1,i+1):
            print(num,end=" ")
            num+=1
        print("\r")
a=int(input("enter the no of rows"))
pattern(a+1)

enter the no of rows4
1
2 3
4 5 6
7 8 9 10

PATTERN PROGRAM 6

In [35]:
def pattern(n):
    ascii_char = 65
    for i in range(1,n):
        for j in range(1,i+1):
            ch=chr(ascii_char)
            print(ch,end="")
            ascii_char+=1
        print("\r")
a=int(input("enter the no of rows"))
pattern(a+1)

enter the no of rows4
A
BC
DEF
GHIJ

PATTERN PROGRAM 6

In [36]:
def pattern(n):
    ascii_char = 65
    for i in range(1,n):
        for j in range(1,i+1):
            ch=chr(ascii_char)
            print(ch,end="")
            
        print("\r")
        ascii_char+=1
a=int(input("enter the no of rows"))
pattern(a+1)

enter the no of rows4
A
BB
CCC
DDDD

PRINTING THE INITIAL WITH FULL LAST NAME

In [10]:
def initial(name):
    new_name = name.split()
    for i in range(0,len(new_name)):
        if i<len(new_name)-1:
            print(new_name[i][0].upper(),end=". ")
        else:
            print(new_name[i])
user=input("enter the name : ")
initial(user)

enter the name : mahendra singh dhoni
M. S. dhoni

FINDING OUT THE FACTORIAL (METHOD 1)

In [12]:
num = int(input("Enter a number to find its factorial"))
factorial =1
for i in range(1,num+1):
    factorial =factorial*i
print("Factorial pf the number is : "+str(factorial))

Enter a number to find its factorial6
Factorial pf the number is : 720

FINDING OUT THE FACTORIAL (METHOD 2)

In [17]:

def fact(n):
   return 1 if (n==1 or n==0) else n*fact(n-1)
a = int(input("Enter the number : "))
result = fact(a)
print("The factorial of the above number : " + str(result))

Enter the number : 6
The factorial of the above number : 720

CHECK WETHER A NUMBER IS ARMSTRONG OR NOT

In [19]:
def armstrong(n):
    num=n
    sum=0
    while num>0:
        digit=num%10
        sum = sum + (digit*digit*digit)
        num=num//10
    if sum==n:
        return 1
    else:
        return -1
number=int(input("enter the number : "))
if armstrong(number)== 1:
    print("ARMSTRONG!!")
else:
    print("NOT ARMSTRONG")

enter the number : 120
NOT ARMSTRONG

CHECK WETHER A NUMBER IS PRIME OR NOT

In [24]:
def prime(n):
    count=0
    for i in range(2,n):
        if n%i==0:
            count+=1
    return count
number=int(input("enter the number : "))
if(prime(number)!=0):
    print("NOT PRIME")
else:
    print("PRIME")

enter the number : 123
NOT PRIME

PRINT THE PRIME NUMBERS WITHIN A GIVEN RANGE

In [28]:
def prime(a,b):
    for i in range(a,b+1):
        count=0
        for j in range(2,i):
            if i%j==0:
                count+=1
        if count == 0:
            print(str(i)+" ,",end="")
a1=int(input("enter the lower limit : "))
b1=int(input("enter the upper limit : "))
print("The prime number are : ")
prime(a1,b1)

enter the lower limit : 2
enter the upper limit : 22
The prime number are :
2 ,3 ,5 ,7 ,11 ,13 ,17 ,19 ,

FIBONACCI SERIES

In [33]:
def fibo(n):
    print("The fibonacci series : ")
    fo = 0
    f1 = 1
    fn = 1
    count=2
    print(str(fo)+","+str(f1),end="")
    while count <= n:
        fn= fo + f1
        print(str(fn)+",",end="")
        fo=f1
        f1=fn
        count+=1
a=int(input("enter the limit : "))
fibo(a)

enter the limit : 12
The fibonacci series :
0,11,2,3,5,8,13,21,34,55,89,144,

CHECK WETHER A NUMBER BELONGS TO A FIBONACCI SERIES OR NOT

In [38]:
import math
def checkPerfectSquare(x):
    s=int(math.sqrt(x))
    return s*s == x
def fibo(n):
    return checkPerfectSquare(5*n*n + 4) or checkPerfectSquare(5*n*n - 4)
number = int(input("Enter the number to check wether it is fibonacci : "))
if fibo(number) == True:
    print("FIBONACCI !!!")
else:
    print("NOT FIBONACCI !!!")

Enter the number to check wether it is fibonacci : 8
FIBONACCI !!!

UNDERSTANDING SET

In [1]:
a= set()
print(a)

set()

In [2]:
a.add(1)
print(a)

{1}

In [3]:
a.add(2)
print(a)

{1, 2}

In [4]:
a.add(2)
print(a)

{1, 2}

In [6]:
for i in a:
    print(i)

1
2

UNDERSTANDING LIST

In [10]:
given_list1=[1,1,2,3,4,2,4]
new_set1 =set()
for i in given_list1:
    new_set1.add(i)
print(new_set1)

{1, 2, 3, 4}

In [11]:
new_list1=list()
for i in new_set1:
    new_list1.append(i)
print(new_list1)

[1, 2, 3, 4]

In [12]:
b=set()
b.add("apple")
b.add("banana")
print(b)

{'apple', 'banana'}

In [13]:
b.add(1)
b.add(3.14)
print(b)

{3.14, 1, 'apple', 'banana'}

FINDING SUM OF UNIQUE ELEMENTS OF A LIST

In [15]:
given_list2 = [1,3,4,1,3]
new_set2 =set()
for i in given_list2:
    new_set2.add(i)
sum=0
for i in new_set2:
    sum=sum+i
print(sum)

8

UNDERSTANDING ARRAY

In [16]:
from array import *
value=array('i',[1,2,4,7,9])   #i stands for signed integer( +ve and -ve ) & u for characters
print(value)

array('i', [1, 2, 4, 7, 9])

In [17]:
print(value.buffer_info())     #to get the array address and size

(4504386608, 5)

In [22]:
print(value[1])

2

In [23]:
for i in value:
    print(i)

1
2
4
7
9

In [24]:
for i in range(5):
    print(value[i])

1
2
4
7
9

In [25]:
for i in range(len(value)):
    print(value[i])

1
2
4
7
9

In [26]:
newArr= array(value.typecode,(a for a in value))
print(newArr)

array('i', [1, 2, 4, 7, 9])

In [27]:
sum=0                    #sum of elements of an array
for i in newArr:
    sum =sum+i
print("The sum of the array : "+str(sum))

The sum of the array : 23

list

In [29]:
numbers = [5,3,7,1,9,0]
numbers.sort()
print(numbers)

[0, 1, 3, 5, 7, 9]

In [30]:
numbers.reverse()
print(numbers)

[9, 7, 5, 3, 1, 0]

In [31]:
print(numbers[1:4])

[7, 5, 3]

In [32]:
print(numbers[0:6:2])   # (start):(end):jump by this factor

[9, 5, 1]

In [33]:
print(numbers[2:5:3])

[5]

In [34]:
print(max(numbers))

9

In [35]:
numbers.append(7)
print(numbers)

[9, 7, 5, 3, 1, 0, 7]

In [36]:
numbers.insert(1,55)
print(numbers)

[9, 55, 7, 5, 3, 1, 0, 7]

In [37]:
numbers.remove(5)
print(numbers)

[9, 55, 7, 3, 1, 0, 7]

In [38]:
numbers.pop()
print(numbers)

[9, 55, 7, 3, 1, 0]

tuple(immutable)

In [39]:
tp = (1,2,3,4)
print(tp)

(1, 2, 3, 4)

In [40]:
a=1                    #swapping two numbers
b=8
a, b = b, a
print(a, b)

8 1

In [45]:
newList = [1,2,3,4,5,6]
newList[0], newList[-1] = newList[-1], newList[0]
print(newList)

[6, 2, 3, 4, 5, 1]

In [46]:
even_nos = [ num for num in newList if num%2==0]     #a new list is created for even nos
print(even_nos)

[6, 2, 4]

In [47]:
list_odd = [ num for num in newList if num%2 != 0]
print(list_odd)

[3, 5, 1]

CLONING A LIST

In [48]:
def cloning(newList):
    list_copy = newList[:]
    return list_copy
cloneList = cloning(newList)
print("original list :", newList)
print("cloned list :", cloneList)

original list : [6, 2, 3, 4, 5, 1]
cloned list : [6, 2, 3, 4, 5, 1]

FINDING OUT THE REPEATING ELEMENTS OF A LIST

In [52]:
newList=[1,2,4,5,1,4,9,8]
size = len(newList)
repeated=[]
for i in range(size):
    k=i+1
    for j in range(k,size):
        if newList[i]==newList[j] and newList[i] not in repeated:
            repeated.append(newList[i])
print(repeated)

[1, 4]

CHECKING WETHER A STRING IS PALINDROME OR NOT

In [54]:
def palindrome(s):
    return s == s[::-1]      #reversing the string and checking the condition
line = input("Enter a string to check wether it is palindrome or not : ")
if palindrome(line)==True:
    print("PALINDROME")
else:
    print("NOT PALINDROME")

Enter a string to check wether it is palindrome or not : MALAYALAM
PALINDROME

CHECK WETHER A WORD IS SYMMERTRICAL

In [1]:
string = "amaama"
half=  int(len(string)/2)
if len(string)%2 == 0:
    first_half = string[:half]
    second_half = string[half:]
else:
    first_half = string[:half]
    second_half = string[half+1:]
if first_half==second_half:
    print("SYMMETRICAL")
else:
    print("NOT SYMMETRICAL")

SYMMETRICAL

In [ ]:
REVERSE A GIVEN SENTENCE

In [1]:
string = input("Enter the sentence : ")
words = string.split(" ")
reverse =" ".join(reversed(words))
print(reverse)

Enter the sentence : i am a boy
boy a am i

In [2]:
string = input("Enter the sentence : ")
words = string.split(" ")
reverse = words[::-1]
print(reverse)

Enter the sentence : i am a boy
['boy', 'a', 'am', 'i']

REMOVING SPECIFIC CHARACTERS FROM A STRING

In [3]:
string = "I want to be a data analyst"
character = input("Input the alphabet to be removed. : ")
new_string = string.replace(character,"")
print("ORIGINAL STRING : "+string)
print("NEW STRING : "+new_string)

Input the alphabet to be removed. : a
ORIGINAL STRING : I want to be a data analyst
NEW STRING : I wnt to be  dt nlyst

TO CHECK WETHER. A SUBSTRING IS PRESENT IN A STRING OR NOT

In [4]:
def check(string,sub_string):
    if(string.find(sub_string)== -1):
        print("NO, the sub string is nit present")
    else:
        print("YES, it is present")
string1 = input("Enter the string : ")
sub_string1=input("Enter the sub string : ")
check(string1,sub_string1)

Enter the string : india is great
Enter the sub string : great
YES, it is present

DICTIONARIES

In [5]:
data ={1:"Abdur",2:"Python",3:"Science"}
print(data)

{1: 'Abdur', 2: 'Python', 3: 'Science'}

In [6]:
print(data[3])

Science

In [7]:
print(data.get(2))

Python

In [8]:
print(data.get(4))

None

In [9]:
print(data.get(4,"Not Found"))

Not Found

In [10]:
keys = ["Abdur","Sam","Joe"]
values = ["Python","Java","C++"]
print(keys,values)

['Abdur', 'Sam', 'Joe'] ['Python', 'Java', 'C++']

In [12]:
data = dict(zip(keys,values))#"dict" word converts the list into dictionary
print(data)

{'Abdur': 'Python', 'Sam': 'Java', 'Joe': 'C++'}

In [13]:
print(data["Sam"])

Java

In [14]:
data["Rachael"]="HTML"
print(data)

{'Abdur': 'Python', 'Sam': 'Java', 'Joe': 'C++', 'Rachael': 'HTML'}

In [15]:
del data["Rachael"]
print(data)

{'Abdur': 'Python', 'Sam': 'Java', 'Joe': 'C++'}

In [17]:
prog ={"JS":"Atom" , "C++":"VS" , "Python":["Pycharm","Jupyter"] , "Java":{"JSE":"Netbeans" , "JEE":"Eclipse"}}
print(prog)

{'JS': 'Atom', 'C++': 'VS', 'Python': ['Pycharm', 'Jupyter'], 'Java': {'JSE': 'Netbeans', 'JEE': 'Eclipse'}}

In [18]:
print(prog["JS"])

Atom

In [19]:
print(prog["Python"])

['Pycharm', 'Jupyter']

In [20]:
print(prog["Python"][1])

Jupyter

In [23]:
print(prog["Java"])

{'JSE': 'Netbeans', 'JEE': 'Eclipse'}

In [24]:
print(prog["Java"]["JEE"])

Eclipse